/* --------------------------- Fonts ----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;700&family=Russo+One&display=swap');

/* --------------------------- TrainerHome Styles ----------------------------------*/

.trainer-home-container {
  display: grid;
  gap: 1rem;
  width: 95%;
  margin: auto;
  height: 80%;
  /* overflow: hidden; */
}

/* --------------------------- Media Styles ----------------------------------*/

@media (min-width: 800px) {
    .trainer-home {
        height: 100%;
        /* overflow: hidden; */
    }

    .trainer-home-container {
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr 1.75fr;
    }

    .clients {
        grid-row: span 2;
    }
}


/* --------------------------- Clients Styles ----------------------------------*/

.clients {
    height: 100%;
    /* overflow-y: scroll; */
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 23px;
    letter-spacing: 0px;
    line-height: 30px;
    text-align: center;
    text-transform: none;
    position: relative;
}

.clients-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
    width: 80%;
    margin: 10% auto;
    font-size: 23px;
}

.clients-content-entry {
    /* margin: 10% 5%; */
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr;
}

.clients-content-entry-name {
    /* margin: 5%; */
    font-weight: 700;
}

.chart-icon, .gear-icon {
    color: black;
}

.thumbs-up {
    color: green;
}

.thumbs-middle {
    color: yellow;
}

.thumbs-down {
    color: red;
}

.clients-menu {
    /* position: absolute; */
    display: flex;
    justify-content: end;
    gap: 2rem;
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
}

.clients-add-icon, .clients-edit-icon {
    cursor: pointer;
}

/* --------------------------- Calendar Styles ----------------------------------*/

.calendar-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 45vh;
    /* background: #9B59B6; */
}
.wrapper {
    /* width: 450px; */
    margin: 2% 0%;
    background: #fff;
    border-radius: 10px;
}
.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}
header .icons span {
    height: 38px;
    width: 38px;
    color: #878787;
    font-size: 1.9rem;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
header .icons span:hover {
    background: #f2f2f2;
}

/* .calendar {
    padding: 20%;
} */
.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.calendar .days {
    margin-bottom: 20px;
}
.calendar .weeks li {
    font-weight: 500;
}
.calendar ul li {
    position: relative;
    width: calc(100%/7);
}
.calendar .days li {
    z-index: 1;
    margin-top: 15px;
}
.calendar .days .current-month {
    cursor: pointer;
}
.days li.inactive {
    color: #aaa;
}
.days li.active {
    color: #fff;
}
.calendar .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.days .current-month li:hover::before{
    background: #f2f2f2;
}
.days li.active::before{
    background: #000;
}

.dot {
    position: absolute;
    z-index: 5;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    /* border-radius: 50%; */
    color: skyblue;
    transform: translate(-50%, -50%);
}

.selected-day::before {
    background: #f2f2f2;
    /* border-radius: 50%; */
}

/* --------------------------- Events Styles ----------------------------------*/
.events-info {
    /* background: #fff; */
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.events-info header p {
    border-bottom: 1px solid #878787;
}

/* --------------------------- ActiveToday Styles ----------------------------------*/

.activeToday {
    height: 100%;
    display: flex;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 21px;
    text-align: center;
    text-transform: none;
}

.activeToday-text {
    width: 50%;
    /* margin: 20% auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .activeToday-text-label {
    margin: 5%;
} */

/* .activeToday-text-data {

} */

.activeToday-imgContainer {
    width: 50%;
    margin: 0;
    padding: 5%;
}

.activeToday-pieChart {
    width: 100%;
    height: 100%;
}


/* --------------------------- Upcoming Meetings Styles ----------------------------------*/

.upcoming-meetings {
    /* grid-column: 2; */
    height: 100%;
    min-height: 37vh;
    overflow: scroll;
    overflow-x: hidden;
    text-align: center;
}

.schedule-meeting-button {
    background: rgb(207, 216, 220);
    width: fit-content;
    margin: auto;
    padding: 1.5%;
    border-radius: 20px;
    color: black;
    cursor: pointer;
}

.upcoming-meetings-content {
    width: 80%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
}

.upcoming-meeting-entry {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.25fr;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* ------------------ Popup Styles ---------------------------- */
.hidden {
    display: none;
}

/* .popup-nav {
    display: flex;
    justify-content: center;
} */

/* .popup-headers {
    text-align: center;
    width: 60%;
    margin: 2% auto;
    background-color: rgb(0 0 0);
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    line-height: 18px;
    border: 0px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 1px;
    padding: 0.5rem;
} */


.schedule-meeting-popup-close-button, .add-client-popup-close-button {
    margin: auto;
    /* font-weight: 500;
    font-size: 14px; */
    /* line-height: 18px; */
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.schedule-meeting-popup, .add-client-popup {
    position: absolute;
    margin: 7.5%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    font-size: 2em;
}

.schedule-meeting-form, .add-client-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    font-family: 'Poppins', sans-serif;
}

.schedule-meeting-form-item, .add-client-form-item {
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.schedule-meeting-popup-close-button, .add-client-popup-close-button {
    cursor: pointer;
}

.schedule-meeting-submit-button, .add-client-submit-button {
    font-size: 1.1em;
}

.schedule-meeting-form input, .schedule-meeting-form select, .add-client-form input {
    width: 250px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}


/* ------------------------ Edit Clients Popup ----------------------- */

.edit-clients-table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*align-items: center; */
    /* height: 50%; */
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.edit-clients-table-header-row > *, .edit-clients-table-row > * {
    width: 33%;
}

.edit-clients-table-header-row {
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
    border-bottom: 1px solid #000;
}

.edit-clients-table-row {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-evenly;
}
