/* --------------------------- ManageClients Styles ----------------------------------*/

/* --------------------------- Fonts ----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;700&family=Russo+One&display=swap');

.trainer-profile {
    height: 100%;
    /* overflow: hidden; */
}

.trainer-profile-container {
    display: grid;
    gap: 2rem;
    width: 90%;
    margin: auto;
    /* overflow: hidden; */
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.profile-icons {
    display: flex;
    justify-content: space-evenly;
}

.profile-edit-icon, .saved-workouts-edit-icon {
    cursor: pointer;
    max-width: fit-content;
}

.saved-workouts-edit-icon {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
}

.profile-logout-icon {
    text-decoration: none;
    color: black;
}

.profile-logout-icon, .profile-edit-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



/* --------------------------- Profile styles ------------------------------------------- */

.profile {
    height: 100%;
}

.profile-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 2%;
    text-align: center;
}

.profile-pic {
    grid-row: span 2;
}

/* .profile-pic-image {

} */

.profile-name {
    margin: 2%;
}

.profile-description {
    grid-row: span 2;
    margin: 2%;
    text-align: justify;
    padding: 3%;
}

/* --------------------------- Saved Workouts styles ------------------------------------------- */

.saved-workouts {
    height: 40%;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.saved-workouts-content {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    /* font-family: 'Poppins', sans-serif;
    font-size: 16px; */
}

.saved-workouts-content-row {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.workout-name {
    font-weight: 600;
}

/* --------------------------- popup styles ------------------------------------------- */
.hidden {
    display: none;
}

.saved-workouts-popup {
    position: absolute;
    margin: 7.5%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
}

.saved-workouts-popup-table {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
    /* height: 50%; */
    width: 80%;
    margin: auto;
    text-align: center;
}

th, td {
    border-bottom: 1px solid #ddd;
}

/* tr:nth-child(even) {
    background-color: ;
} */

.saved-workouts-popup-close-button {
    cursor: pointer;
}

/* --------------------------- Create Workout styles ------------------------------------------- */

.create-workout {
    height: 100%;
}

.create-workout-card {
    background-color: white;
    height: 100%;
    border-radius: 10px;
    position: relative;
}   

.create-workout-header {
    text-align: center;
    margin-bottom: 2rem;
}

.create-workout-header-h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.create-workout-line {
    border-bottom: 2px solid rgb(0 0 0 / 10%);
}   

.create-workout-form {
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
}

.create-workout-form-item {
    position: relative;
    font-size: 1.3rem;
    width: 100%;
    margin: auto;
    padding: 2% 0;
    display: flex;
    gap: 1rem;
}

/* .create-workout-item-label {

} */

.create-workout-item-input {
    border: none;
    outline: none;
    background-color: rgb(245, 245, 245);
    flex-grow: 1;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 1px;
}

.create-workout-exercise {
    position: relative;
    font-size: 1.3rem;
    width: 80%;
    margin: auto;
    padding: 2% 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 3fr;
}

/* .create-workout-exercise-label {

} */

.create-workout-exercise-input {
    border: none;
    outline: none;
    background-color: rgb(245, 245, 245);
    flex-grow: 1;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px;
}

.create-workout-button {
    display: block;
    background-color: black;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 20%;
    margin: 0 auto 2%;
}

/* .create-workout-submit-button {

} */


