/* --------------------------- login Styles ----------------------------------*/

/* --------------------------- Fonts ----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;700&family=Russo+One&display=swap');

.login {
    min-height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    width: 450px;
    background-color: white;
    padding: 4rem;
    border-radius: 10px;
    position: relative;
}

.login-logo {
    margin-bottom: 2rem;
    text-align: center;
}

.login-logo-img {
    width: 60px;
}

.login-header {
    text-align: center;
    margin-bottom: 2rem;
}

.login-header-h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-item {
    position: relative;
    top: 0.82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: 0.4;
}

.login-icon {
    position: absolute;
    top: 0.82rem;
    font-size: 1.3rem;
    opacity: 0.4;
}

.login-input {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem 1.5rem;
    border-radius: 100px;
    width: 100%;
}

.login-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.login-checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

.login-a {
    text-decoration: none;
    color: #35339a;
}

.login-button {
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
.login-button a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.login-footer {
    text-align: center;
    margin-top: 1.5rem;
}

#alert {
    color: red;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

}
