/* --------------------------- ManageClients Styles ----------------------------------*/

/* --------------------------- Fonts ----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;700&family=Russo+One&display=swap');

.manage-clients {
    height: 100%;
    /* overflow: hidden; */
}

.manage-clients-container {
    display: grid;
    gap: 1.5rem;
    width: 95%;
    margin: auto;
    overflow: hidden;
    height: 80%;
    grid-template-columns: repeat(2, 1fr);
}

/* --------------------------- AssignWorkouts Styles ----------------------------------*/

.assign-workouts {
    grid-row: span 4;
    height: 100%;
    overflow: hidden;
}

.assign-workouts-name {
    text-align: center;
    font-size: 2em;
    border-bottom: 1px solid black;
}

.clients-dropdown {
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    text-align: center;
    margin: auto;
}
.clients-dropdown option {
    font-size: 30px;
}

.weeks-dropdown {
    cursor: pointer;
    margin: 1% auto;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.assign-workouts-content {
    /* display: grid; */
    /* gap: 1rem; */
    font-size: 35px;
    height: 80%;
    /* grid-template-columns: repeat(2, 1fr); */
    width: 75%;
    margin: 2.5% auto;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    text-transform: none;
}

.assign-workouts-content-row {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 2.5% auto;
}

.assign-workouts-day {
    /* text-align: center; */
    flex-direction: column;
    font-weight: 500;
}

.assign-workout-content {
    display: flex;
    justify-content: space-between;
}

.assign-workout-button {
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.assign-button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.assign-workout-name {
    font-size: 0.75em;
    /* gap: 1rem; */
}

.assign-workout-name-content {
    width: 100%;
    text-align: center;
}

.assign-workout-name-content-edit-icon {
    cursor: pointer;
}

/* --------------------------- Intake Styles ----------------------------------*/

.manage-clients-intake {
    height: 100%;
    overflow: hidden;
}

.manage-clients-intake-heading {
    text-align: center;
    border-bottom: 1px solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.manage-clients-intake-table {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1.25fr 1.25fr 0.5fr;
    margin: 1% 10% 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.manage-clients-intake-table input {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 100px;
    margin: 0;
    padding: 0;
}

.manage-clients-edit-icon {
    cursor: pointer;
}

.intake-category {
    font-weight: 700;
}

/* --------------------------- Steps Styles ----------------------------------*/
.steps-heading {
    height: fit-content;
    width: fit-content;
    align-items: center;
    margin: 2% 0%;
    padding: 1% 2%;
}

.manage-clients-steps {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.manage-clients-steps input, .step-goal {
    font-size: 20px;
    width: 150px;
}

.step-goal {
    padding: 1%;
}

/* --------------------------- ManageClientDescription Styles ----------------------------------*/

.client-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2%;
}

.client-description-content, #edit-client-description {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#edit-client-description {
    width: 75%;
    height: 90%;
}

.edit-description-icon {
    font-size: 1.25rem;
}

/* --------------------------- CatchUpNote Styles ----------------------------------*/

.catch-up-notes {
    min-height: 20vh;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.manage-clients-catch-up-notes-textbox {
    width: 100%;
    height: 75%;
}

.catch-up-notes-content {
    width: 80%;
    margin: auto;
}

.catch-up-notes-entry {
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.5fr 1.5fr;
}

/* --------------------------- popup styles ------------------------------------------- */
.hidden {
    display: none;
}

.assign-workout-popup {
    position: absolute;
    margin: 7.5%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
}

.assign-workout-popup-table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*align-items: center; */
    /* height: 50%; */
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.assign-workout-popup-table-header-row {
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
    border-bottom: 1px solid #000;
}

.assign-workout-popup-table-row, .workouts, .exercises {
    border-bottom: 1px solid #ddd;
    /* display: flex;
    justify-content: space-evenly; */
}
.workouts, .exercises, .exercise {
    width: 100%;
    display: flex;
}

.exercise {
    justify-content: space-evenly;
}

.exercise-details {
    display: flex;
    justify-content: space-evenly;
}

.assign-workout-popup-table-header-row > *, .workouts > *, .exercise > * {
    width: 25%;
}

.assign-workout-popup-close-button {
    cursor: pointer;
    margin: auto;
    /* font-weight: 500;
    font-size: 14px; */
    /* line-height: 18px; */
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expand-icon {
    cursor: pointer;
}

.workout-details-popup {
    position: absolute;
    margin: 10%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.workout-details-popup-close-button {
    cursor: pointer;
    margin: auto;
    /* font-weight: 500;
    font-size: 14px; */
    /* line-height: 18px; */
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workout-details-popup-table-header-row, .workout-details-popup-table-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.workout-details-popup-table-row {
    border-bottom: 1px solid #ddd;
}

.workout-details-popup-table-header-row {
    border-bottom: 1px solid #000;
    /* display: flex;
    justify-content: space-evenly; */
}

.workout-details-popup-table-header-row > *, .workout-details-popup-table-row > * {
    width: 25%;
    text-align: center;
}

.workout-details-assign-button {
    width: 10%;
    margin: 1% auto;
}

/* ------------------------- intake goals ----------------------- */
.intake-goals {
    display: flex;
}