/* --------------------------- ManageClients Styles ----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.manage-clients {
    height: 100%;
    /* overflow: hidden; */
}

.manage-clients-container {
    display: grid;
    gap: 1.5rem;
    width: 95%;
    margin: auto;
    overflow: hidden;
    height: 80%;
    grid-template-columns: repeat(2, 1fr);
}

/* --------------------------- AssignWorkouts Styles ----------------------------------*/

.assign-workouts {
    grid-row: span 4;
    height: 100%;
    overflow: hidden;
}

.assign-workouts-name {
    text-align: center;
    font-size: 2em;
    border-bottom: 1px solid black;
}

.clients-dropdown {
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

.weeks-dropdown {
    cursor: pointer;
    font-size: 1.1em;
    margin: 1% auto;
}

.assign-workouts-content {
    /* display: grid; */
    /* gap: 1rem; */
    font-size: 2em;
    height: 80%;
    /* grid-template-columns: repeat(2, 1fr); */
    width: 75%;
    margin: 2.5% auto;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    text-transform: none;
}

.assign-workouts-content-row {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 2.5% auto;
}

.assign-workouts-day {
    /* text-align: center; */
    flex-direction: column;
}

.assign-workout-content {
    display: flex;
    justify-content: center;
}

.assign-workout-button {
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.assign-button {
    cursor: pointer;
}

.assign-workout-name {
    font-size: 0.75em;
    gap: 1rem;
}

.assign-workout-name-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.assign-workout-name-content-edit-icon {
    cursor: pointer;
}

/* --------------------------- Intake Styles ----------------------------------*/

.manage-clients-intake {
    height: 100%;
    overflow: hidden;
}

.manage-clients-intake-heading {
    text-align: center;
    font-size: 2em;
    border-bottom: 1px solid black;
}

.manage-clients-intake-table {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1.25fr 1.25fr 0.5fr;
    margin-left: 2%;
}

.manage-clients-edit-icon {
    cursor: pointer;
}

/* --------------------------- Steps Styles ----------------------------------*/

/* .manage-clients-steps {

} */

/* --------------------------- ManageClientDescription Styles ----------------------------------*/

/* .client-description {

}

.client-description-content {

} */

/* --------------------------- CatchUpNote Styles ----------------------------------*/

/* .manage-clients-catch-up-notes {

} */

.manage-clients-catch-up-notes-textbox {
    width: 100%;
    height: 75%;
}

.catch-up-notes-content {
    width: 80%;
    margin: auto;
}

.catch-up-notes-entry {
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.5fr 1.5fr;
}

/* --------------------------- popup styles ------------------------------------------- */
.hidden {
    display: none;
}

.assign-workout-popup {
    position: absolute;
    margin: 7.5%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
}

.assign-workout-popup-table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*align-items: center; */
    /* height: 50%; */
    width: 80%;
    margin: auto;
    text-align: center;
}
.assign-workout-popup-table-header-row {
    display: flex;
    justify-content: space-evenly;
}

.assign-workout-popup-table-header-row, .assign-workout-popup-table-row, .workouts, .exercises {
    border-bottom: 1px solid #ddd;
    /* display: flex;
    justify-content: space-evenly; */
}
.workouts, .exercises, .exercise {
    width: 100%;
    display: flex;
}

.exercise {
    justify-content: space-evenly;
}

.exercise-details {
    display: flex;
    justify-content: space-evenly;
}

.assign-workout-popup-table-header-row > *, .workouts > *, .exercise > * {
    width: 25%;
}

.assign-workout-popup-close-button {
    cursor: pointer;
    margin: auto;
    /* font-weight: 500;
    font-size: 14px; */
    /* line-height: 18px; */
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expand-icon {
    cursor: pointer;
}

.workout-details-popup {
    position: absolute;
    margin: 10%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
}

.workout-details-popup-close-button {
    cursor: pointer;
    margin: auto;
    /* font-weight: 500;
    font-size: 14px; */
    /* line-height: 18px; */
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workout-details-popup-table-header-row, .workout-details-popup-table-row {
    display: flex;
    justify-content: space-evenly;
}

.workout-details-popup-table-header-row {
    border-bottom: 1px solid #ddd;
    /* display: flex;
    justify-content: space-evenly; */
}

.workout-details-popup-table-header-row > *, .workout-details-popup-table-row > * {
    width: 25%;
    text-align: center;
}

.workout-details-assign-button {
    width: 10%;
    margin: 1% auto;
}

/* ------------------------- intake goals ----------------------- */
.intake-goals {
    display: flex;
}